body{
 margin: 0; 
}
aside{
    float: left;
    height: 100vh;
    background-color: yellow;
}
nav{
    height: 50px;
    background: linear-gradient(to right,#8505c4 20%, #d39bf0 );
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}
nav span{
    font-size: 15px;
    font-weight: 800;
    font-family: sans-serif;
}
nav img{
    height: 20px;
}
header{
    background-color: #0e1217;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #C4C4C4;
    color: rgba(255, 255, 255, 0.774);
    padding: 0px 20px 0 20px;
}
header span{
    font-size: 18px;
}
.title_leftside{
    display: flex;
    justify-content: space-between;
}
.title_leftside div{
    background-color: #5c6d81ce ;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 8px;
}
main{
    height: calc(100vh - 160px);
    background-color: #0e1217;
    color: white;
}
footer{
    background-color: black;
    height: 40px;
}